* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.view {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  /*前面三部分开始*/
}
.view section .part {
  display: flex;
  height: 90px;
  margin: 5px 0;
  border-radius: 5px;
}
.view section .part:nth-child(1) {
  background-color: #fa7f50;
}
.view section .part:nth-child(2) {
  background-color: #3d98ff;
}
.view section .part:nth-child(3) {
  background-color: #44c522;
}
.view section .part > a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.view section .part > a span {
  color: #fff;
}
.view section .part > a span:nth-child(2) {
  height: 43px;
  width: 43px;
  background-image: url("../images/xc_sprites.png");
  background-size: 104px auto;
  background-position: 0 -130px;
}
.view section .part ul {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
.view section .part ul li {
  width: 50%;
  border-left: 1px solid #fff;
}
.view section .part ul li:nth-child(-n+2) {
  border-bottom: 1px solid #fff;
}
.view section .part ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.view section .part ul li a span {
  color: #fff;
  /*前面三部分结束*/
}
.view nav {
  /*十个小导航开始*/
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  border: 1px solid #999;
  padding: 5px;
  border-radius: 5px;
}
.view nav a {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.view nav a span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../images/un_ico_subnav_v7.124@2x.png') no-repeat 3px 5px;
  background-size: 24px auto;
  /*十个小导航结束*/
}
.view .lowpricesold {
  /*低价卖开始*/
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
}
.view .lowpricesold .title {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}
.view .lowpricesold .title span {
  font-style: italic;
  font-weight: 600;
  color: #fd3c52;
  font-size: 16px;
}
.view .lowpricesold .title a {
  background-image: linear-gradient(to right, #ff6b7d, #ff84d2);
  color: #fff;
  font-size: 12px;
  border-radius: 17px;
  padding: 2px 8px;
}
.view .lowpricesold .main {
  display: flex;
  width: 100%;
}
.view .lowpricesold .main .main_left {
  flex: 1;
}
.view .lowpricesold .main .main_left p {
  height: 40px;
  overflow: hidden;
  font-size: 14px;
}
.view .lowpricesold .main .main_left span:nth-child(3) {
  color: #fe4f5e;
}
.view .lowpricesold .main .main_left span:nth-child(4) {
  background-color: #fd3a51;
  color: #fff;
  font-size: 12px;
  padding: 0 4px;
  border-radius: 8px;
}
.view .lowpricesold .main .main_right {
  flex: 1;
}
.view .lowpricesold .main .main_right > a {
  display: block;
  width: 100%;
  height: 50%;
  background: url('../images/pic-tmh-02.png') no-repeat bottom right #f9f9f9;
  background-size: 53.5px auto;
  padding: 10px 5px;
  border-left: 5px solid #fff;
}
.view .lowpricesold .main .main_right > a h3 {
  color: #fd3a51;
  font-weight: 600;
  font-size: 14px;
}
.view .lowpricesold .main .main_right > a p {
  font-size: 12px;
}
.view .lowpricesold .main .main_right div {
  width: 100%;
  height: 50%;
  display: flex;
}
.view .lowpricesold .main .main_right div a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
}
.view .lowpricesold .main .main_right div a:nth-child(2) h3 {
  color: #68d2bc;
}
.view .lowpricesold .main .main_right div a h3 {
  color: #6aabff;
  font-size: 14px;
  font-weight: 600;
}
.view .lowpricesold .main .main_right div a p {
  font-size: 12px;
}
.view .lowpricesold .main .main_right div a img {
  width: 49.5px;
  margin-top: 5px;
}
.view .hotactivities {
  margin: 5px 0;
  border: 1px solid #666;
  border-radius: 5px;
}
.view .hotactivities .title {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}
.view .hotactivities .title h3 {
  font-style: italic;
  font-weight: 600;
  color: orange;
  font-size: 16px;
}
.view .hotactivities .title a {
  background-image: linear-gradient(to right, #ff6b7d, #ff84d2);
  color: #fff;
  font-size: 12px;
  border-radius: 17px;
  padding: 2px 8px;
}
.view .hotactivities .main {
  display: flex;
  flex-wrap: wrap;
}
.view .hotactivities .main a {
  width: 50%;
}
.view .hotactivities .main a img {
  width: 100%;
  /*热门活动结束*/
}
.view footer {
  border: 1px solid #666;
  border-radius: 5px;
}
.view footer .book {
  display: flex;
  justify-content: space-around;
}
.view footer .book a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view footer .extralink {
  text-align: center;
}
.view footer .info {
  text-align: center;
}
